.ember-webcam-viewer {
	width: 100%;
	height: 600px;
	position: relative;
	z-index: -20;
}

.camera-button {
	position: relative;
	display: block;
	padding: 15px 32px; 
	margin: 20px auto;
	font-size: 20px;
	text-algin: center;
}

.center-h1 {
	text-align: center;
}

.background-test {
	vertical-align: bottom !important;
	display: inline-block !important;
	position: fixed;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
	bottom: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: 100%;
}

p.speech {
	position: absolute;
	top: 20px;
	right: 250px;
	width: 200px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	background-color: #fff;
	border: 8px solid #666;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}

p.speech:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
	top: 100px;
	border: 25px solid;
	border-color: #666 transparent transparent #666;
}

p.speech:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
	top: 100px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}