{{#ember-webcam 
	id="webcam"
	didSnap=(action 'didSnap')
  	didError=(action 'didError')
  		as |camera|}}
  		<div id="camera-wrapper" hidden={{hideButton}}>
   		<button class="camera-button" {{action camera.snap}}> Take Snapshot!
  		</button>
  		</div>
	{{/ember-webcam}}
{{yield}}